<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
