<div class="container">
    <div class="row">
        <div class="col">
          <h1>Results</h1>

            <div class="container" id="people">
                <div class="row">
                 
                 <div class="d-flex justify-content-center">
                    <%= paginate @people, window: 2 %>
                 </div>
                 
                    <% if @people.any? %>
                        <% @people.each do |person| %>
                            <div class="col-sm-3 text-center">
                            <%= render person %>
                            <%= link_to "Show this person", person , class:"btn btn-info my-2 " %>
                            </div>
                        <% end %>
                    <% else %>
                        <h2 class="text-center">Person not found</h2>
                    <% end %>

                 <div class="d-flex justify-content-center">
                    <%= paginate @people, window: 2 %>
                 </div>

                </div>
            </div>
        </div>
    </div>
</div>